<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= @post.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag('post') %>
    <style><%= @post.render_styles %></style>
  </head>

  <body class="post" data-blog="<%= @post.blog_id %>" data-post="<%= @post.id %>"><%= yield %></body>
</html>