<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag('blog') %>
    <title><%= @blog.name %></title>
  </head>

  <body class="blog page__content">
    <header>
      <h1><%= @blog.name %> by <%= @blog.author %></h1>
    </header>

    <main><%= yield %></main>
  </body>
</html>
